@import "../../../styles/styling.scss";

.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

  > * {
    width: calc(50vw - 22.5px);
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    display: grid;
    grid-template-columns:
      calc(calc(100% / 3) - calc(15px - calc(15px / 3))) 
      calc(calc(100% / 3) - calc(15px - calc(15px / 3)))
      calc(calc(100% / 3) - calc(15px - calc(15px / 3)));
    column-gap: 15px;
    row-gap: 15px;
    
    > * {
      width: calc(400px - 10px);
    }
  }
}
