@import '../../styles/styling.scss';

.root {
    padding: 50px 15px 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
    text-align: center;

    .summary {
      :first-child {
        font-family: $font-family-regular;
      }

      :nth-child(2) {
        text-transform: capitalize;
      }

      p {
        margin-top: 25px;
      }
    }
  }
  