@import "../../styles/styling.scss";

.root {
  width: 100%;
  max-width: 1200px;
  height: auto;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .bannerContainer {
    background-color: $grey-background;
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  .description {
    padding: $padding-mobile;

    > :first-child {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .root {
    margin: 50px auto 0;
    flex-direction: row;

    .bannerContainer {
      width: 500px;
      height: 500px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    margin: 50px auto 0;
    flex-direction: row;

    .bannerContainer {
      width: 500px;
      height: 500px;
    }
  }
}
