@import "../../styles/styling.scss";

.root {
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .bannerContainer {
    background-color: $grey-background;
    width: 100%;
    height: 400px;
  }

  .description {
    padding: $padding-mobile;

    > :first-child {
      margin-bottom: 15px;
    }
  }
}
