@import "../../../styles/styling.scss";

.root {
  .input {
    color: $font-colour-default;
    font-size: $font-size-paragraph;
    font-family: $font-family-regular;
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: $grey-input;
    border: none;
    padding: $padding-mobile;

    ::placeholder {
      color: $grey-lettering;
    }
  }

  .closeIcon {
    position: absolute;
    right: 30px;
    margin-top: $padding-mobile;
    display: none;
    cursor: pointer;
  }

  .closeIcon.active {
    display: unset;
  }
}
